:root {
  --heading-font: "Merriweather", sans-serif;
  --secondary-font: "Golos Text", sans-serif;
  --heading-color: #313131;
  --heading-bg: #e9ded4;
  --logo-color: #595653;
  --banner-btn: #1f1f1f;
  --banner-btn-hover: #fbce51;
  --marquee-bg: #f54932;
  --marquee-color: #ffffff;
  --secondary-color: #f54932;
  --tertiary-color: #3057a2;
  --table-line: #d0d0d0;
  --pagination-dot-bg: #d9d9d9;
  --arrow-bg-disabled: #d6d6d6;
  --footer-bg: #e9ded4;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1,
h2 {
  font-family: var(--heading-font);
  color: var(--heading-color);
  text-transform: uppercase;
  font-weight: 400;
  font-style: normal;
}

h3,
h4 {
  font-family: var(--secondary-font);
}

p {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-style: normal;
}

.container {
  --width: 1222px;
  --padding: 72px;
  max-width: calc(var(--width) + var(--padding) * 2);
  margin: 0 auto;
  padding: 0 var(--padding);
}
@media (max-width: 1200px) {
  .container {
    --padding: 8vw;
  }
}
@media (max-width: 375px) {
  .container {
    --padding: 20px;
  }
}

.header {
  padding: 26px 0 132px 0;
  position: relative;
  background-color: var(--heading-bg);
}
.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/bg_large.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.header__banner {
  position: relative;
  z-index: 1;
  max-width: 542px;
  margin-top: 62px;
}
.header__banner-description {
  margin-top: 24px;
  height: 46px;
  font-family: var(--secondary-font);
  font-size: 18px;
  line-height: 1.3;
  text-align: center;
  color: var(--heading-color);
  font-weight: 400;
}
.header__banner-buttons {
  display: flex;
  gap: 16px;
  margin-top: 40px;
}
.header__banner-btn {
  width: 263px;
  height: 70px;
  border: 2px solid transparent;
  font-size: 16px;
  border-radius: 66px;
  font-weight: 500;
  line-height: 1.2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  font-family: var(--secondary-font);
  -webkit-tap-highlight-color: transparent;
  transition: 0.15s linear;
}
.header__banner-btn-primary {
  background-color: var(--banner-btn);
  color: var(--white);
}
.header__banner-btn-primary:hover {
  color: var(--banner-btn);
  background: var(--banner-btn-hover);
}
.header__banner-btn-secondary {
  background-color: transparent;
  color: var(--banner-btn);
  border: 2px solid var(--banner-btn);
}
.header__banner-btn-secondary:hover {
  background-color: var(--banner-btn);
  color: var(--white);
}
.header__content {
  display: inline-block;
  font-size: 60px;
  font-weight: 400;
  line-height: 1.1;
  text-transform: uppercase;
  font-family: var(--heading-font);
  color: var(--heading-color);
}
.header__text:nth-child(3) {
  display: block;
  text-align: center;
}
.header__text:nth-child(4) {
  display: block;
  text-align: right;
}

.logo__container {
  z-index: 1;
  position: relative;
}

.running__line {
  background: var(--marquee-bg);
  color: var(--white);
  padding: 18px 0;
  overflow: hidden;
}
.running__line-container {
  max-width: 2335px;
  margin: 0 auto;
  display: flex;
}
.running__line-container span {
  position: relative;
  margin-right: 30px;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.1;
  text-transform: uppercase;
  white-space: nowrap;
  font-family: var(--heading-font);
}
.running__line-container span::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  background: var(--white);
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  right: -18px;
}

.support {
  padding: 80px 0 100px;
}
.support__wrapper {
  display: grid;
  gap: 64px;
}
.support__header {
  display: flex;
  align-items: center;
  min-height: 250px;
  justify-content: space-between;
}
.support__header-top-image {
  margin-left: 64px;
}
.support__header-top-title {
  max-width: 764px;
}
.support__header-top-title p {
  color: var(--heading-color);
  display: inline;
  font-family: var(--heading-font);
  font-weight: 700;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.4;
}
.support__header-top-title span {
  font-weight: 700;
  color: var(--secondary-color);
  letter-spacing: 0.5px;
}
.support__main {
  position: relative;
}
.support__main-image-wrapper {
  position: absolute;
  top: -46px;
  left: -28px;
}
.support__main-table {
  width: 100%;
  border-collapse: collapse;
}
.support__main-table tr {
  height: 56px;
}
.support__main-table tr:not(:last-child) {
  border-bottom: 2px solid var(--table-line);
}
.support__main-text-wrapper {
  max-width: 704px;
  margin: 0 0 0 auto;
}
.support__main-text-title {
  margin-bottom: 60px;
}
.support__main-text-title p {
  max-width: 680px;
  color: var(--heading-color);
  font-family: var(--heading-font);
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1.35;
}
.support__main-text-title span {
  font-weight: 700;
  letter-spacing: 0.4px;
  color: var(--secondary-color);
}
.support__main-text-label {
  font-family: var(--secondary-font);
  font-weight: 400;
  width: 306px;
  opacity: 0.7;
  font-size: 20px;
  border-right: 2px solid var(--table-line);
}
.support__main-text-play__info {
  font-family: var(--secondary-font);
  width: 398px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  padding-left: 16px;
}
.support__main-text-old {
  position: relative;
  margin-right: 13px;
}
.support__main-text-old:after {
  content: "";
  position: absolute;
  width: 81px;
  border: 2px solid var(--secondary-color);
  left: 0;
  right: 0;
  top: 50%;
}
.support__footer {
  margin-top: 48px;
  font-family: var(--secondary-color);
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  color: var(--tertiary-color);
}

.stages {
  padding: 100px 0 100px;
}
.stages__header {
  max-width: 806px;
  position: relative;
}
.stages__header h2 {
  font-family: var(--heading-font);
  font-size: 54px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0px;
  text-align: left;
  text-transform: uppercase;
}
.stages__header p {
  position: absolute;
  top: 72px;
  left: 301px;
  width: 280px;
  color: var(--tertiary-color);
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
}
.stages__content {
  display: grid;
  margin-top: 54px;
  position: relative;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.stages__content-container-1 {
  grid-area: 1/1/2/3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.stages__content-container-2 {
  grid-area: 1/3/3/4;
  display: grid;
}
.stages__content-container-3 {
  grid-area: 2/1/2/3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.stages__content-container-4 {
  grid-area: 3/1/3/2;
}
.stages__content-container-5 {
  grid-area: 3/2/4/4;
  margin-left: 5px;
}
.stages__content .card {
  min-height: 112px;
  display: flex;
  padding: 20px;
  gap: 0 16px;
  background: url("../images/card_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  gap: 0 16px;
  font-family: var(--secondary-font);
}
.stages__content .card div {
  min-width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  background: var(--white);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}
.stages__content .card p {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}/*# sourceMappingURL=style.css.map */