<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <title>Yandex Landing</title>
    <!--Возможно еще добавить мета тегов-->
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="logo__container">
          <a class="logo__link" href="#">
            <img class="logo" src="" alt="logo" />
          </a>
        </div>
        <div class="header__banner">
          <h1 class="header__content">
            <span class="highlight__text">ПРЕВРАТИТЕ</span>
            <span class="city__text">УЕЗДНЫЙ ГОРОД</span>
            <span class="capital__text">В СТОЛИЦУ</span>
            <span class="earth__text">ЗЕМНОГО ШАРА</span>
          </h1>
          <p class="header__banner-subheading">
            Оплатите взнос на телеграммы для организации Международного
            васюкинского турнира по шахматам
          </p>
          <div class="header__banner-buttons">
            <a class="btn btn-primary" href="#support">
              Поддержать <span class="desktop-break"></span> шахматную мысль
            </a>
            <a class="btn btn-secondary" href="#stages">
              Подробнее <span class="desktop-break"></span> о турнире
            </a>
          </div>
        </div>
      </div>
    </header>
  </body>
</html>
